<!doctype html>
<html>
<head>
  <title>Madlib</title>
</head>
<body>
    
    <form action='/madlib'>
      
      <label>Person</label>
      <input type="text" name="a_person">
      
      <label>Color</label>
        <select name="a_color">
            <option value="red">red</option>
            <option value="orange">orange</option>
            <option value="pink">pink</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
            <option value="purple">purple</option>
        </select>
        
        <label>Noun</label>
        <input type="text" name="a_noun">

        <label>Adjective</label>
        <input type="text" name="an_adjective">
    
      <input type='submit'>

    </form>
</body>
</html>